<div class="menu-bar__container">
  <div class="menu-bar__logo">
    <img src="assets/ps-logo.png " alt="" srcset="" width="140px" height="32px">
  </div>

  <div class="menu-bar__item">
<ul>
<li><a href="https://store.playstation.com/en-gb/pages/latest">Latest</a></li>
<li><a href="https://store.playstation.com/en-gb/pages/collections">Collections</a></li>
<li><a href="https://store.playstation.com/en-gb/pages/deals">Deals</a></li>
<li><a href="https://store.playstation.com/en-gb/pages/ps5">PS5</a></li>
<li><a href="https://store.playstation.com/en-gb/pages/subscriptions">Subscriptions</a></li>
<li><a href="https://store.playstation.com/en-gb/pages/browse">Browse</a></li>
</ul>
  </div>
</div>
